body {
    background-image: url("../images/background_img.jpg");
    background-repeat: no repeat;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.container {
  height: auto;
  height: 100%;
  min-height: 100%;
  width: 100%;
	max-width: 960px;
  margin: 0 auto -100px;
  margin-left: 20px;
	clear: both;
}

  #screen {
    overflow: auto;
  }
  
  #screen div {
    float: left;
  }
  
  #title {
    margin-top: 5px;
    text-align: center;
    width: 250px;
    padding: 4px;
    margin-bottom: 10px;
    color: white;
    background-color: chocolate;
  }
  
  #rules-area {
    text-align: center;
    width: 400px;
    height: 327px;
    padding: 4px;
    margin-bottom: 1px;
    color: green;
    background-color: bisque;
  }

  #random-title {
    text-align: center;
    width: 210px;
    padding: 4px;
    margin-top: 10px;
    color: white;
    background-color: mediumseagreen;
  }
  
  #random-area {
    text-align: center;
    width: 210px;
    height: 50px;
    padding: 4px;
    font-size: 3vw;
    color: purple;
    background-color: mediumseagreen;
  }

  #win-area {
    text-align: center;
    width: 210px;
    height: 50px;
    padding: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: aqua;
    color: purple;
    font-size: 3ev;
  }
  

  #score-title {
    text-align: center;
    width: 210px;
    padding: 4px;
    margin-top: 10px;
    color: white;
    background-color: darkcyan;
  }
  
  #score-area {
    margin-bottom: 20px;
    text-align: center;
    width: 210px;
    height: 40px;
    padding: 4px;
    color: ghostwhite;
    background-color: darkcyan;
  }
  
  .crystals-button {
    display: inline;
  }
  
  .crystal-img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: white;
    border: solid;
    border-color: lightblue;
  }
  
  #score-number {
    font-size: 25px;
  }
  
